<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header id="main-header">
        <h3>Loading components ...</h3>
    </header>
    <main id="main-main"></main>
    <footer id="main-footer"></footer>
</body>
</html>